*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
{
 
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body
{
  background-color: #23252C;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.App
{
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #1A1B21;
  width: 320px;
  border-radius: 20px;
  
  

}

.button-icon
{
  padding: 8px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  border-radius: 5px;
 

}
.button-icon i
{
  margin-right: 5px;
}
.blue-button
{
  background-color: #5093E2;
  color: white;
}
nav
{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px 30px; 
}

nav h1
{
  padding-top: 20px;
  margin-bottom: 3px;
  font-size: 25px;
}


nav h2
{
  font-weight: 400;
  font-size: 13px;
  color: #F3BF99;
  margin-bottom: 8px;
}

nav h3
{
  font-weight: 400;
  font-size: 10.5px;
  color: #F5F5F5;
  margin-bottom: 10px;
}
nav ul
{
  margin-top: 10px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  gap:20px;

}
nav ul li  
{
  flex: 1;
}
main
{
  padding:  30px;
}
main p
{
  line-height: 1.6;
}

footer
{
  background-color: #161619;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  padding: 20px; 
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.5);
}

footer ul
{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
ul li
{
  display: inline-block;
  list-style-type: none;
}
section
{
  margin-bottom: 20px;
}
section h2
{
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0 ;
}
section p
{
  font-size: 10.5px;
  font-weight: 400;
  color: #DCDCDC;
}
.icon-footer
{
  color: #918E9B;
  font-size: 30px;
  

}